.App {
  font-family: "Roboto Slab", serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.nav h1 {
  margin-left: 20px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right a {
  margin: 0px 20px;
  text-decoration: none;
  color: black;
}

.nav-right a:hover {
  border-bottom: 1px solid black;
}

.background-image {
  height: 500px;
  background-image: url("./assets/portfolio-background.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid black;
}

#about-me,
#projects,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

#about-me h2,
#projects h2,
.contact h2 {
  font-size: 30px;
}

#projects {
  background-color: lightgray;
}

#about-me p {
  margin: 20px 20%;
  text-align: justify;
}

#projects img {
  height: 150px;
  width: 275px;
  object-fit: cover;
  border: 1px solid gray;
}

.project-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-tile {
  width: 20vw;
  height: 35vh;
  background-color: white;
  text-align: center;
  margin: 15px;
  padding: 20px 10px;
  border: 2px solid gray;
  border-radius: 2px;
}

.project-tile a {
  text-decoration: none;
  color: black;
}

.project-tile:hover {
  box-shadow: 5px 5px 8px black;
  transition: all 0.2s;
}

.button,
form button {
  background-color: gray;
  border: 2px solid black;
  border-radius: 2px;
  margin: 30px 30px 50px 30px;
  padding: 10px 15px;
}

.button a,
form button {
  color: white;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label,
form input,
form textarea {
  margin: 10px;
  min-width: 350px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1380px) {
  .project-tile {
    width: 45vw;
    height: 35vh;
  }
}

@media screen and (max-width: 1100px) {
  .project-group {
    flex-direction: column;
  }
}

@media screen and (max-width: 579px) {
  .nav {
    flex-direction: column;
  }

  .project-group {
    flex-direction: column;
  }
}
